* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.header {
    padding: 5%;
    background-color: orange;
}

.intro {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10% 5%;
    background-color: skyblue;

}

.cotainer-feature-content {
    display: flex;
    gap: 10px;

}

.cotainer-feature-content .feature-itemt {
    width: 20%;
    background-color: palevioletred;
    padding: 3%;
    margin-bottom: 20px;
}

.main-content {
    display: flex;
    gap: 10px;
}

.main-content .image-content {
    width: 40%;
    background-color: yellowgreen;
    padding: 5%;
}

.main-content .form-login {
    width: 60%;
    background-color: yellowgreen;
    padding: 5%;
}

.footer {
    padding: 5%;
    background-color: pink;
    margin-top: 10px;
}