* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: orange;
}

.main-content {
    margin-top: 10px;
    display: flex;
    height: 60vh;
}

.left-sidebar{
    margin-right: 10px;
    width: 40%;
    background-color: pink;
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    width: 60%;
    background-color: aquamarine;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container-content-future {
    width: 100%;
}

.feature-fomat-4 {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 100%;
}

.feature-itemt {
    width: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 25px solid white;
    border-bottom: 15px solid white;
}

.feature-fomat-1 {
    width: 100%;
    background-color: orange;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}